<h2 id="<%= caption.parameterize %>"><%= caption %></h2>
<% events_by_year.each do |year, events| %>
  <table class="calendar">
    <thead>
      <tr>
        <th colspan="3" aria-labelledby="<%= caption.parameterize %>"><%= year.to_s %></th>
      </tr>
    </thead>
    <tbody>
      <% events.each do |event| %>
        <tr>
          <td class="calendar_date">
            <%= l event.date, :format => '%e %B' %>&nbsp;<span class="visuallyhidden" aria-hidden="true"><%= l event.date, :format => '%Y' %></span>
          </td>
          <td class="calendar_day"><%= l event.date, :format => '%A' %></td>
          <td class="calendar_title"><%= event.title %><%= " (#{event.notes.downcase})" unless event.notes.blank? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
