<div class="app-c-calendar">
  <h2 class="govuk-heading-m" id="<%= caption.parameterize %>"><%= caption %></h2>
  <% events_by_year.each do |year, events| %>
      <% table_caption = capture do %>
        <span class="govuk-visually-hidden"><%= caption %></span> <%= year.to_s %>
      <% end %>

      <%= render "govuk_publishing_components/components/table", {
        caption: table_caption,
        caption_classes: "govuk-heading-s",
        rows: events.each.map { |event| [
          { :text => l(event.date, :format => '%e %B') },
          { :text => l(event.date, :format => '%A') },
          { :text => event.title + (event.notes.blank? ? '' : " (#{event.notes.downcase})") }
         ] }
      } %>
  <% end %>
</div>
