<table class="calendar">
  <caption>
    <%= caption %>
  </caption>
  <thead>
    <tr>
      <th scope="col"><%= t 'calendar.events.headings.date' %></th>
      <th scope="col"><%= t 'calendar.events.headings.day' %></th>
      <th scope="col"><%= t 'calendar.events.headings.holiday_name' %></th>
      <th scope="col"><%= t 'calendar.events.headings.notes' %></th>
    </tr>
  </thead>
  <tbody>
    <% year.events.each do |event| -%>
      <tr>
        <td class="calendar_date"><%= l event.date, :format => '%e %B' %></td>
        <td class="calendar_day"><%= l event.date, :format => '%A' %></td>
        <td class="calendar_title"><%= event.title %></td>
        <td class="calendar_notes"><small><%= event.notes %></small></td>
      </tr>
    <% end -%>
  </tbody>
</table>
