<%= render :partial => "calendar_head" %>

<% if @calendar.show_bunting? %>
  <div class="app-o-epic-bunting">
    <span class="app-o-epic-bunting__bunt<%= " app-o-epic-bunting__bunt--#{@calendar.bunting_styles}" if @calendar.bunting_styles %>"></span>
  </div>
<% end %>

<main id="content" class="app-o-main-container <%= "app-o-main-container--bunted" if @calendar.show_bunting? %>" role="main">
  <%= render "govuk_publishing_components/components/title", {
    title: @calendar.title
  } %>

  <article role="article">
    <% tab_content ||= [] %>
    <% @calendar.divisions.each_with_index do |division, index| %>
      <% tab_content[index] = capture do %>

        <% if division.upcoming_event %>
          <%= render "govuk_publishing_components/components/panel", {
            prepend: t("common.next_holiday_in_is", :in_nation => t("#{division.title}_in")),
            title: division.upcoming_event.date == Date.today ? t("common.today") : l(division.upcoming_event.date, format: "%e %B"),
            append: division.upcoming_event.title
          } %>
        <% end %>

        <%= render "components/subscribe", {
          label: t("common.add_holiday_ics", :for_nation => t("#{division.title}_for")),
          url: division_path(@calendar, division, :format => 'ics'),
          title: t("common.download_ics")
        } %>

        <% caption = "#{t "common.upcoming_bank_holidays"} #{t "#{division.title}_in"}" %>
        <h2 class="govuk-heading-m" id="<%= caption.parameterize %>"><%= caption %></h2>

        <% division.upcoming_events_by_year.each do |year, events| %>
          <%= render "components/calendar", {
            title: caption,
            year: year,
            events: events
          } %>
        <% end %>

        <p class="govuk-body"><%= raw(t("common.bank_holiday_on_wkend"))%></p>
        <p class="govuk-body"><%= raw(t("common.holiday_entitlement"))%></p>
        <p class="govuk-body"><%= raw(t("common.bank_holiday_benefits"))%></p>

        <hr class="govuk-section-break govuk-section-break--m">

        <% caption = "#{t "common.past_bank_holidays"} #{t "#{division.title}_in"}" %>
        <h2 class="govuk-heading-m" id="<%= caption.parameterize %>"><%= caption %></h2>

        <% division.past_events_by_year.each do |year, events| %>
          <%= render "components/calendar", {
            title: caption,
            year: year,
            events: events
          } %>
        <% end %>

      <% end %>
    <% end %>

    <%= render "govuk_publishing_components/components/tabs", {
      panel_border: false,
      tabs: @calendar.divisions.each_with_index.map { |division, index| {
         :id => t(division.slug),
         :label => t(division.title),
         :content => tab_content[index]
       } }
    } %>
  </article>

  <%= render "components/metadata", {
    last_updated: last_updated_date
  } %>
</main>

<% content_for :related_container_class do %><% if @calendar.show_bunting? -%>app-o-related-container--bunted<% end %><% end %>

<%= render :partial => "calendar_footer" %>
