<%= render :partial => "calendar_head" %>

<% if @calendar.divisions.any? {|d| d.upcoming_event and d.upcoming_event.date == Date.today and d.upcoming_event.bunting == "true" } %>
  <div class="epic-bunting"><span></span></div>
<% end %>

<section id="content" role="main" class="group">
  <header class="page-header group">
    <div>
      <h1><span>Quick answer</span> <%= @calendar.title %></h1>
    </div>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>

  </header>

  <div class="article-container group">

    <article role="article" class="group">
      <div class="inner">

        <div class="js-tabs nav-tabs">
          <ul>
            <% @calendar.divisions.each do |division| %>
              <li><%= link_to division.title, "##{division.slug}", :class => division.slug %></li>
            <% end %>
          </ul>
        </div>

        <div class="js-tab-content tab-content">
          <% @calendar.divisions.each do |division| %>
            <div class="js-tab-pane tab-pane" id="<%= division.slug %>">
              <% if division.upcoming_event %>
                <div class="highlighted-event">
                  <p>The next bank holiday in <%= division.title %> is:</p>
                  <p>
                    <em><%= division.upcoming_event.date == Date.today ? "today" : division.upcoming_event.date.strftime("%e %B") %></em>
                    <em><%= division.upcoming_event.title %></em>
                  </p>
                </div>
              <% end %>

              <div class="subscribe">
                <p><%= link_to("Add bank holidays for #{division.title} to your calendar (ICS, 10KB)",
                              division_path(@calendar, division, :format => 'ics'),
                              :title => 'Download these dates so you can add them to a calendar application such as iCal or Outlook') %>
                </p>
              </div>

              <%= render :partial => 'calendar_by_year', :locals => {
                  :events_by_year => division.upcoming_events_by_year,
                  :caption => "Upcoming bank holidays in #{division.title}" } %>

              <p>If a bank holiday is on a weekend, a ‘substitute’ weekday becomes a bank holiday, normally the following Monday.</p>
              <p>Your employer doesn’t have to give you <a href="/holiday-entitlement-rights" title="Holiday entitlement rights">paid leave on bank or public holidays</a>.</p>
              <p>Bank holidays might affect <a href="/how-to-have-your-benefits-paid" title="How and when your benefits are paid">how and when your benefits are paid</a>.</p>

              <%= render :partial => 'calendar_by_year', :locals => {
                  :events_by_year => division.past_events_by_year,
                  :caption => "Past bank holidays in #{division.title}" } %>
            </div>
          <% end %>
        </div>


      </div>
    </article>

    <%= render :partial => 'calendar_metadata' %>
  </div>
</section>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('article .inner').tabs();
});
//]]>
</script>
