<%= render :partial => "calendar_head" %>

<% if @calendar.show_bunting? %>
  <div class="epic-bunting"><span></span></div>
<% end %>

<main id="content" role="main" class="group">
  <header class="page-header group">
    <div>
      <h1><%=@calendar.title %></h1>
    </div>
  </header>

  <div class="article-container group">

    <article role="article" class="group">
      <div class="inner">

        <div class="js-tabs nav-tabs">
          <ul>
            <% @calendar.divisions.each do |division| %>
              <li><%= link_to t(division.title), "##{t division.slug}", :class => t(division.slug) %></li>
            <% end %>
          </ul>
        </div>

        <div class="js-tab-content tab-content">
          <% @calendar.divisions.each do |division| %>
            <div class="js-tab-pane tab-pane" id="<%=t division.slug %>">
              <% if division.upcoming_event %>
                <div class="highlighted-event" itemscope itemtype="http://schema.org/Event">
                  <meta itemprop="location" content="<%=t("#{division.title}")%>" />
                  <p><%=t "common.next_holiday_in_is", :in_nation => t("#{division.title}_in") %></p>
                  <p>
                    <time itemprop="startDate" datetime="<%=division.upcoming_event.date%>">
                      <%= division.upcoming_event.date == Date.today ? t("common.today") : l(division.upcoming_event.date, format: "%e %B") %>
                    </time>
                    <span itemprop="name"><%=division.upcoming_event.title %></span>
                  </p>
                </div>
              <% end %>

              <div class="subscribe">
                <p><%= link_to((t "common.add_holiday_ics", :for_nation => t("#{division.title}_for")),
                              division_path(@calendar, division, :format => 'ics'),
                              :title => t("common.download_ics")) %>
                </p>
              </div>

              <%= render :partial => 'calendar_by_year', :locals => {
                  :location => division.title,
                  :events_by_year => division.upcoming_events_by_year,
                  :caption => "#{t "common.upcoming_bank_holidays"} #{t "#{division.title}_in"}"} %>

              <p><%= raw(t("common.bank_holiday_on_wkend"))%></p>
              <p><%= raw(t("common.holiday_entitlement"))%></p>
              <p><%= raw(t("common.bank_holiday_benefits"))%></p>

              <%= render :partial => 'calendar_by_year', :locals => {
                  :location => division.title,
                  :events_by_year => division.past_events_by_year,
                  :caption => "#{t "common.past_bank_holidays"} #{t "#{division.title}_in"}"} %>
            </div>
          <% end %>
        </div>


      </div>
    </article>

    <%= render :partial => 'calendar_metadata' %>
  </div>
</main>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('article .inner').tabs();
});
//]]>
</script>

<% content_for :wrapper_class do %><% if @calendar.show_bunting? -%>bunted<% end %><% end %>
