<%= render :partial => "calendar_head" %>
<% content_for :head do %>
  <%= javascript_include_tag 'bank-holiday.js', :defer => 'defer' %>
<% end %>

<% if @calendar.divisions.any? {|d| d.upcoming_event and d.upcoming_event.date == Date.today and d.upcoming_event.bunting == "true" } %>
  <div class="epic-bunting"><span></span></div>
<% end %>

<section id="content" role="main" class="group">
  <header class="page-header group">
    <hgroup>
      <h1><span>Quick answer</span> <%= @calendar.title %></h1>
    </hgroup>
    <nav class="skip-to-related">
      <a href="#related">Not what you're looking for? ↓</a>
    </nav>
  </header>

  <div class="article-container group">

    <article role="article" class="group">
      <div class="inner">

        <p>These are the dates of UK bank holidays for 2012 and 2013.</p>

        <nav class="js-tabs nav-tabs" role="navigation">
          <ul>
            <% @calendar.divisions.each do |division| %>
              <li><%= link_to division.title, "##{division.slug}", :class => division.slug %></li>
            <% end %>
          </ul>
        </nav>

        <div class="js-tab-content tab-content">
          <% @calendar.divisions.each do |division| %>
            <div class="js-tab-pane tab-pane" id="<%= division.slug %>">
              <% if division.upcoming_event %>
                <p>The next bank holiday in <%= division.title %> is:</p>
                <div class="highlighted-event">
                  <p><%= division.upcoming_event.title %>
                    <em><%= division.upcoming_event.date == Date.today ? "today" : division.upcoming_event.date.strftime("%e %B") %></em></p>
                </div>
              <% end %>

              <% division.years.each do |year| %>
                <%= render :partial => 'calendar_year', :locals => {
                  :year => year,
                  :caption => "#{year} bank holidays in #{division.title}" } %>

                <div class="subscribe">
                  <p>Add dates to your calendar: <%=
                  link_to("Bank holidays for #{year} in #{division.title}",
                          division_year_path(@calendar, division, year, :format => 'ics'),
                          :title => 'Download these dates so you can add them to a calendar application such as iCal or Outlook')
                          %>.</p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <p>If a bank holiday is on a weekend, a ‘substitute’ weekday becomes a bank holiday, normally the following Monday.</p>
        <p>Your employer doesn’t have to give you paid leave on bank or public holidays.</p>

      </div>
    </article>

    <%= render :partial => 'calendar_metadata' %>
  </div>
</section>
