<%= render :partial => "calendar_head" %>

<main id="content" role="main">
  <%= render "govuk_publishing_components/components/title", {
    title: @calendar.title
  } %>

  <article role="article">
    <%- division = @calendar.divisions.first -%>

    <% if division.upcoming_event %>
      <%= render "govuk_publishing_components/components/panel", {
        prepend: "The #{division.upcoming_event.notes.gsub(' one hour', '').downcase}",
        title: division.upcoming_event.date.strftime("%e %B"),
      } %>
    <% end %>

    <div class="app-c-calendar app-c-calendar--clocks">
      <%= render "govuk_publishing_components/components/table", {
        first_cell_is_header: true,
        head: [
          { text: "Year" },
          { text: "Clocks go forward" },
          { text: "Clocks go back" }
        ],
        rows: division.years.each.map { |year| [
          { :text => year },
          { :text => year.events[0].date.strftime('%e %B') },
          { :text => year.events[1].date.strftime('%e %B') }
         ] }
      } %>
    </div>

    <%= render "components/subscribe", {
      label: "Add clock changes in the UK to your calendar (ICS, 2KB)",
      url: division_path(@calendar, division, :format => 'ics'),
      title: "Download these dates so you can add them to a calendar application such as iCal or Outlook"
    } %>

    <p class="govuk-body">In the UK the clocks go forward 1 hour at 1am on the last Sunday in March, and back 1 hour at 2am on the last Sunday in October. </p>

    <p class="govuk-body">The period when the clocks are 1 hour ahead is called British Summer Time (BST). There’s more daylight in the evenings and less in the mornings (sometimes called Daylight Saving Time).</p>

    <p class="govuk-body">When the clocks go back, the UK is on Greenwich Mean Time (GMT).</p>
  </article>

  <%= render "components/metadata", {
    last_updated: last_updated_date
  } %>
</main>

<%= render :partial => "calendar_footer" %>
