<% content_for :head do %>
  <%= yield :head %>
  <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item %>
  <% if @meta_section %>
    <meta name="govuk:section" content="<%= @meta_section %>">
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public" do %>
  <%=  render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= yield %>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="app-o-related-container <%= yield :related_container_class %>">
        <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: @content_item %>
      </div>
    </div>
  </div>
<% end %>
